# Ignore all CSV files (they will be created by the user)
*.csv

# except quotes.csv because apparently Git won't recognize it otherwise
# so, therefore, that will become the default
!quotesheets/quotes.csv